.bg-header {
    background: linear-gradient(45deg, rgba(229, 8, 117, 0.7), #23375e);
    color: #ffffff;
    border-bottom: 3px solid orangered;
}
.nv-header {
    color: #ffffff;

}
.custom-nav a {
    color:#282c34;
    display: inline-block;
    padding-left: 10px;
    text-decoration: none;
}
.logo {
    height: 50px;
    width: 50px;
}
