.trainer-table tbody tr{
    vertical-align: baseline;
}
thead tr th {

    text-align: center;
}
.trainer-table tbody tr td,th {

    text-align: center;
}
.mainTable{
    min-width: 360px;
    min-height: 600px;
    margin-top: 10px;
    height: 100%;
}
