.student-table tbody tr {
  cursor: pointer;
  vertical-align: baseline;
}
thead tr th {
  text-align: center;
}
.student-table tbody tr td,
th {
  text-align: center;
}

.outer-table {
  height: 100%;
}
.mainTable {
  min-width: 360px;
  min-height: 600px;
  margin-top: 25px;
  height: 100%;
}
